* {
    box-sizing: border-box;
    background-color: #333333;
    margin: 0;
}

#main {
    text-align: center;
}

.title-box {
    background: #EDAFB8;
    padding: 30px;
}

#title {
    font-family: 'Nerko One', cursive;
    background: #EDAFB8;
    font-size: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    color: wheat;
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto;
}

.column {
    padding: 40px;
}

#image {
    margin-top: 10px;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-width: 10px;
    border-color: white;
    border-style: dotted;
}

#img-caption, #tribute-info, #tribute-link {
    font-family: 'Montserrat';
    margin-top: 20px;
    font-weight: 100;

}

.title-bio {
    font-weight: 500;
}


#bio {
    margin-top: 20px;
}

.singer-info {
    padding-top: 10px;
    font-weight: 100;
}

#link {
    color: white;
    font-weight: 500;
}

@media screen and (max-width: 720px) {
    .content {
        flex-direction: column;
    }

    .column {
        padding: 10px;
    }
}